form {
  margin-top: 5rem;
  /* background-color: teal; */
  border-radius: 20px;
}

form input[name="city"] {
  background-color: transparent;
  color: whitesmoke;
  font-weight: lighter;
  border: none;
  border-bottom: 1.5px solid whitesmoke;
  border-radius: 0;
  cursor: auto;
  font-family: Alegreya;
}

form input:focus {
  background-color: transparent !important;
  /* overwrite bootstrap property with the !important statement */
  box-shadow: none !important;
  font-family: Alegreya;
}

form input .container::-webkit-input-placeholder {
  color: white !important;
}

.btn {
  background-color: whitesmoke;
  border: none;
  font-family: Alegreya;
}

.btn:hover {
  background-color: #cccc00;
  transition: ease-in-out 0.5s;
}
