.container {
  margin-top: 1.2rem;
  background-color: #6666ff;
  border-radius: 20px;
}

.container input,
.container ::-webkit-input-placeholder {
  color: white !important;
}

.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #cccc00;
}
